---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-(--breakpoint-md) mx-auto px-4 py-8">
      <h1 class="text-4xl font-bold mb-4 text-neutral-700">
        🖥️ Hermando Thiago: Backend & Dados.
      </h1>

      <p class="text-lg text-neutral-700 mb-6">
        Seja bem-vindo ao meu blog. Sou o <strong>Hermando Thiago</strong>, e
        este blog é onde irei compartilhar minha experiência como programador ao
        longos dos anos. Hoje atuo principalmente com backend e análise dados.
        Mas passei boa parte da minha carreira como fullstack.
      </p>

      <h3 class="text-2xl font-semibold mb-3 text-neutral-700">
        O que você vai encontrar por aqui?
      </h3>
      <p class="mb-4">
        Escrevo sobre o que vivo no dia a dia do desenvolvimento, com foco em:
      </p>

      <ul class="list-disc pl-6 mb-8 text-neutral-700">
        <li class="font-semibold italic">
          Artigos sobre engenharia e arquitetura de software
        </li>
        <li class="font-semibold italic">
          Tutoriais sobre frontend, backend, analise de dados e um pouco de
          infraestrutura
        </li>
        <li class="font-semibold italic">
          Indicação de livros, ferramentas e frameworks que venho utilizando
        </li>
        <li class="font-semibold italic">
          Minha opinião sobre o mercado de tecnolgia e as novidades da
        </li>
      </ul>

      <h3 class="text-2xl font-semibold mb-3">Conecte-se comigo</h3>

      <p class="text-neutral-700 leading-relaxed mb-8">
        Atualmente estou na <strong>Porto Seguro</strong> (via Deal), mas decidi criar
        este espaço para ir além do trabalho. Aqui é onde deixo meus registros sobre
        backend, análise de dados e as coisas que me interessam no mundo da tecnologia.
        A ideia é compartilhar o que aprendo e, se você curte o tema, bora trocar
        uma experiência.
      </p>

      <p class="mt-6">
        🚀 Dá uma olhada nos meus <a
          href="/blog"
          class="text-neutral-900 font-bold underline decoration-neutral-400 hover:decoration-black transition-all"
          >artigos recentes</a
        > ou conheça mais <a
          href="/about"
          class="text-neutral-900 font-bold underline decoration-neutral-400 hover:decoration-black transition-all"
          >sobre minha trajetória</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
