---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
---

<header class="m-0 py-0 px-4 bg-white shadow-xs">
  <nav class="flex items-center justify-between py-4">
    <h2 class="flex items-stretch justify-center gap-3 m-0 text-neutral-600">
      <Icon name="bash" width={28} height={28} class="m-0 p-0" />
      <a
        href="/"
        class="font-bold text-lg m-0 p-0 border-b border-b-transparent text-neutral-600 no-underline"
        >{SITE_TITLE}</a
      >
    </h2>

    <div class="internal-links flex space-x-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">Sobre mim</HeaderLink>
    </div>

    <div class="social-links flex">
      <a href="https://github.com/HermandoThiago" target="_blank" class="flex">
        <span class="sr-only">Conheça meus repositórios do github</span>

        <Icon name="github" width={28} height={28} color={"black"} />
      </a>
    </div>
  </nav>
</header>
<style>
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
